.content-section {
    min-height: calc(100vh - 180px);
}

.content-section-backet-cards {
    margin: 100px 20px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(57, 57, 59, 0.7);
    border-radius: 5px;
}

.content-section h1 {
    margin-left: 40px;
    color: white;
}

.content-section h2 {
    margin-left: 40px;
    color: white;
}

.btn-checkout {
    border-radius: 5px;
    height: 70px;
    width: 280px;
    margin: 10px 40px 10px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: black;
    color: white;
    font-family: cursive;
    letter-spacing: 2px;
    font-size: large;
    padding: 0px;
}

.btn-checkout:hover {
    color: black;
    background-color: white;
}