body {
                background: url("background/doroga.jpg") no-repeat;
                background-size: cover;
                background-position: bottom;
                background-attachment: fixed;
                margin: 0;
                padding: 0;
                margin: 0;
                font-family: "Arial", sans-serif;
                font-size: 14px;
                line-height: 20px;
                color: #444444;
            }


            li {
                list-style: none;
            }

            a {
                text-decoration: none;
                color: white;
            }

            a:visited {
                color: white;
            }

            header {
                margin-bottom: 100px;
            }

            .header-menu ul {
                margin: 0 0 0 0;
                font-size: large;
                font-family: cursive;
                padding: 10px;
                background-color:orange;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }

            .header-menu a {
                padding: 7px;
            }

            .header-menu-inbtn {
                background: black;
                border-radius: 5px;
            }

            .content-select-list {
                text-align: center;
                width: 80%;
                margin: 10%;              
                background-color: rgba(57, 57, 59, 0.7);
                color: white;
            }

            .content-select-list ul {
                padding: 0;
            }

            .content-select-list h2 {
                padding: 15px;
            }

            .content-select-list li {
                padding: 10px;
                display: inline-block;
                padding-bottom: 20px;
                font-size: medium;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }

            .auto-classes-list li {
                width: 30%;
            }

            .auto-classes-list img {
                width: 100%;
            }

            .autologo-image-list li {
                width: 16%;
            }

            .autologo-image-list img {
                width: 100%;
            }

            @media (max-width: 880px)
            {
                .auto-classes-list li {
                    width: 40%;
                }
                .autologo-image-list li {
                    width: 30%;
                }
            }

            @media (max-device-width: 880px)
            {
                .auto-classes-list li {
                    width: 40%;
                }
                .autologo-image-list li {
                    width: 30%;
                }
            }

            .features {
                background-color: dimgray;
                color: white;
                padding: 15px;
                padding-bottom: 25px;
            }

            .features p {
                display: inline-block;
                vertical-align: top;
                width: 22%;
                margin: 0 5px;
                text-align: center;
            }

            footer {
                background-color: rgba(57, 57, 59);
                margin: 0 0 0 0;
                color: white;
            }

            footer h4 {
                margin: 0 0 0 0;
            }

            .dropbtn {
                background-color: #4CAF50;
                color: white;
                padding: 16px;
                font-size: 16px;
                border: none;
            }
            
           
            .dropdown {
                position: relative;
                display: inline-block;
            }
            
           
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }
            
            
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }
            
          
            .dropdown-content a:hover {background-color: #ddd;}
            
            
            .dropdown:hover .dropdown-content {display: block;}
            
           
            .dropdown:hover .dropbtn {background-color: #3e8e41;}