.card-auto {
    width: 650px;
    margin: 30px 40px;
    overflow: hidden;
    background-color: dimgray;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    display: flex;
}

.card-auto:hover {
    box-shadow: 0 0 40px black;
}

.card-auto p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: cursive;
    color: white;
}

.card-auto-img-container {
    height: 215px;
    width: 320px;
    margin: 10px 8px 10px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    overflow: hidden;
    background-color:black;
}

.card-auto-img {
    background-color:orange;
    height: 215px;
}

.card-auto-content {
    display: flex;
    flex-direction: column;
}

.card-auto-info {
    height: 80px;
    width: 280px;
    margin: 10px 8px 0px;
    background-color:orange;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.card-auto-info p {
    margin-top: 10px;
}

.card-auto-info-name {
    font-size: x-large;
}

.card-auto-info-brand {
    font-size: large;
}

.card-auto-price {
    height: 40px;
    width: 280px;
    margin: 10px 8px 0px;
    background-color:orange;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    word-wrap: normal;
}

.card-btn-add {
    border-radius: 5px;
    height: 70px;
    width: 280px;
    margin: 10px 10px 0px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: black;
    color: white;
    font-family: cursive;
    letter-spacing: 2px;
    font-size: large;
    padding: 0px;
}

.card-auto-price p {
    word-wrap: normal;
    font-size:x-large;
    margin-top: 10px;
}

.card-btn-add:hover {
    color: black;
    background-color: white;
}